body {
    background-color: rgb(198, 221, 229);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "out-fit", sans-serif;
}

.card {
    width: 320px;
    padding: 16px;
    border-radius: 19px;
    background-color: white;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.card > img {
    max-width: 100%;
    border-radius: 10px;
}

.topic {
    text-align: center;
    margin: 20px 0;
    font-size: 1.4rem;
    color: hsl(218, 44%, 22%);
}

.card > p {
    text-align: center;
    margin-bottom: 20px;
    color: hsl(220, 15%, 55%);
}

.attribution { 
             font-size: 11px; 
             text-align: center;
             }


.attribution a { 
                color: hsl(228, 45%, 44%); 
                }

